.logoanton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  img {
    height: 70px;
    display: block;
    margin: 0 auto;
  }
}

.ms-auto {
  //margin-left: auto;
  padding-right: 300px;
  gap: 50px;
 li :hover {
    font-weight: bold;
    color: white;
    background: #BA1405;

  }
  li {
    font-weight: bold;
    font-size: 1.3em;

  }
}
