.logoanton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  img {
    height: 70px;
    display: block;
    margin: 0 auto;
  }
}

.ms-auto {
  padding-right: 300px;
  gap: 50px;

  li :hover {
    font-weight: bold;
    color: white;
    background: #ba1405;
  }
  li {
    font-weight: bold;
    color: black;
    font-size: 1.3em;
  }
}
.btnit {
  position: absolute;
  height: 70px;
  width: 280px;
  top: 690px;
  left: 50%;
  border: none;
  transform: translateX(-50%);
  background-color: #ba1405;
  color: white;
  padding: 10px 20px;
}
